{% extends "base.html" %}

{% block title %}
CarFound | Главная
{% endblock %}

{% block content %}
<div class="row">
    <div class="filters container">
        <p>
            <div class="d-grid">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Показать фильтры
            </button>
            </div>
        </p>
          <div class="collapse" id="collapseExample">
            <div class="container">
                <div class="row">
                    <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="text-center">Марка</div>
                        <select class="form-select" aria-label="Марка">
                            <option selected>Все</option>
                            {% for brand in brands %}
                                <option value="right">{{ brand.name }}</option>
                            {% endfor %}
                          </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="text-center">Модель</div>
                        <select class="form-select" aria-label="Модель">
                            <option selected>Все</option>
                            {% for model_type in model_types %}
                                <option value="right">{{ model_type.name }}</option>
                            {% endfor %}
                          </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="transmission text-center">Коробка передач</div>
                        <select class="transmission form-select" aria-label="Коробка передач">
                            <option selected>Любая</option>
                            {% for transmission in transmissions %}
                                <option value="right">{{ transmission.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="city text-center">Город</div>
                        <select class="city form-select" aria-label="Регион">
                            <option selected>Любой</option>
                            {% for city in cities %}
                                <option value="right">{{ city.name }}</option>
                            {% endfor %}
                          </select>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="volume-min text-center">Обьем двигателя (от)</div>
                        <select class="volume-min form-select" aria-label="Обьем двигателя (от)">
                            <option selected>Любой</option>
{#                            {% for x in volumes %}#}
{#                                <option value={{ x }}>{{ x }}</option>#}
{#                            {% endfor %}#}
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="volume-max text-center">Обьем двигателя (до)</div>
                        <select class="volume-max form-select" aria-label="Обьем двигателя (до)">
                            <option selected>Любой</option>
{#                            {% for x in volumes %}#}
{#                                <option value={{ x }}>{{ x }}</option>#}
{#                            {% endfor %}#}
                          </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="power-min text-center">Мощность от</div>
                        <input type="text" class="power-min form-control" aria-label="power-min input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="power-max text-center">Мощность до</div>
                        <input type="text" class="power-max form-control" aria-label="power-max input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="year-min text-center">Год выпуска (от)</div>
                            <select class="year-min form-select" aria-label="Год выпуска (от)">
                                <option selected>Любой</option>
                                {% for n in range(1960, 2022) %}
                                    <option value={{ n }}>{{ n }}</option>
                                {% endfor %}
                              </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="year-max text-center">Год выпуска (до)</div>
                            <select class="year-max form-select" aria-label="Год выпуска (до)">
                                <option selected>Любой</option>
                                {% for x in range(1960, 2022) %}
                                    <option value={{ x }}>{{ x }}</option>
                                {% endfor %}
                              </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="owners text-center">Кол-во владельцев</div>
                            <select class="owners form-select" aria-label="Кол-во владельцев">
                                <option selected>Любое</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3 или более</option>
                              </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="color text-center">Цвет</div>
                            <select class="color form-select" aria-label="Цвет">
                                <option selected>Любой</option>
                                {% for color in colors %}
                                    <option value="right">{{ color.name }}</option>
                                {% endfor %}
                              </select>
                        </div>
                        </div>
                    <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="text-center">Привод</div>
                        <select class="form-select" aria-label="Привод">
                            <option selected>Любой</option>
                            {% for wheels_drive in wheels_drives %}
                                <option value="right">{{ wheels_drive.name }}</option>
                            {% endfor %}
                          </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="body text-center">Кузов</div>
                        <select class="body form-select" aria-label="Кузов">
                            <option selected>Любой</option>
                            {% for body in bodies %}
                                <option value="right">{{ body.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="wheel-drive text-center">Руль</div>
                        <select class="wheel-drive form-select" aria-label="Руль">
                            <option selected>Любой</option>
                            <option value="left">Левый</option>
                            <option value="right">Правый</option>
                          </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="condition text-center">Состояние</div>
                        <select class="condition form-select" aria-label="Состояние">
                            <option selected>Любое</option>
                            {% for condition in conditions %}
                                <option value="right">{{ condition.name }}</option>
                            {% endfor %}
                          </select>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="price-min text-center">Цена от</div>
                        <input type="text" class=" price-min form-control" aria-label="price-min input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="price-max text-center">Цена до</div>
                        <input type="text" class="price-max form-control" aria-label="price-max input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="mileage-min text-center">Пробег от</div>
                        <input type="text" class="mileage-min form-control" aria-label="mileage-min example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <div class="mileage-max text-center">Пробег до</div>
                        <input type="text" class="mileage-max form-control" aria-label="mileage-max input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    </div>
                <svg width="100%" height="16"></svg>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="d-grid">
                            <button class="btn btn-light" type="button">Применить</button>
                          </div>
                    </div>
                </div>
                <svg width="100%" height="16"></svg>
            </div>
          </div>
    </div>
</div>
</div>
    
    <div class="listings mx-auto">
        <div class="row mx-auto">
            {% for advert in pages.items %}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col xl-4 col-xxl-4 mx-auto">
                        <div class="card mb-3 h-90 mx-auto"style="min-width: 15rem; max-width: 26rem">
                            <img src="{{ advert.image_url }}" class="card-img-top" style="width: 100%; height: 400px; object-fit: cover;" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ advert.model.brand.name }} {{ advert.model.name }}, {{ advert.year }} год</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item text-center">г. {{ advert.city.name }}, цена: {{ advert.price }} рублей</li>
                                    <li class="list-group-item text-center">Двигатель: {{ advert.engine_volume }}, {{ advert.horse_power }} л.с, {{ advert.fuel_type.name }}</li>
                                    <li class="list-group-item text-center">Пробег: {{ advert.mileage }} км, коробка: {{ advert.transmission.name }}</li>
                                    <li class="list-group-item text-center">Привод: {{ advert.wheels_drive.name }}, руль: {{ 'Левый' if advert.is_left_hand_drive else 'Правый' }}</li>
                                    <li class="list-group-item text-center">{{ advert.body.name }}, цвет: {{ advert.color.name }}</li>
                                    <li class="list-group-item text-center">{{ advert.condition.name }}, владельцев: {{ advert.owners }}</li>
                                    <li class="list-group-item text-center">Опубликовано {{ advert.date.strftime('%m/%d/%Y в %H:%M') }}</li>
                                </ul>
                                <div class="card-body d-grid">
                                    <a href="{{ advert.url }}" class="btn btn-primary" role="button">Перейти на обьявление</a>
                                </div>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li {% if not pages.has_prev %} class="page-item disabled" {% endif %}>
                <a class="page-link" href="./?page={{ pages.prev_num }}" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
                {% for page in pages.iter_pages() %}
                    <li {% if page == pages.page %} class="page-item active" {% endif %}>
                        <a class="page-link" href="./?page={{page}}">{{ page }}</a>
                    </li>
                {% endfor %}
              <li {% if not pages.has_next %} class="page-item disabled" {% endif %}>
                <a class="page-link" href="./?page={{ pages.next_num }}" tabindex="-1" aria-disabled="true">Next</a>
              </li>
            </ul>
          </nav>
    
{% endblock %}
