<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body >
    <div class="container fluid ">
        <header class="d-flex flex-wrap justify-content-center py-2 mb-2 border-bottom">
          <a href="/" class="d-flex align-items-center  mb-md-0 me-md-auto text-dark text-decoration-none mx-left">
            <span class="fs-3 ">CarFound</span>
          </a>
          
          <ul class="nav nav-pills mx-right">
            <li class="nav-item fs-4"><a href="/about" class="nav-link">О проекте</a></li>
            <li class="nav-item fs-4"><a href="/authentication" class="nav-link">Войти</a></li>
          </ul>
        </header>
    </div>
    <div class="container breakpoins ">
        {% block content %}{% endblock %}
    </div>    
  </body>
</html>